h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  /* Add other styles here */
}
.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 3rem;
  padding: 3rem;
}

.home-heading-description-div {
  text-align: center;
}

.home-heading {
  font-weight: bold;
  font-size: 7rem;
  font-family: "poppins";
}

.home-description {
  font-size: 22px;
  font-family: "San Francisco";
  color: grey;
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 4rem;
  }

  .home-description {
    font-size: 15px;
  }
  .home-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 476px) {
  .home-main {
    justify-content: flex-start;
  }
}

@media (max-width: 400px) {
  .home-main {
    justify-content: flex-start;
  }
  .home-heading {
    font-weight: bold;
    font-size: 3rem;
    font-family: "poppins";
  }

  .home-description {
    font-size: 15px;
    font-family: "San Francisco";
    color: grey;
  }
}

.premiumBadge {
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 20px; /* Adjust padding for a more button-like appearance */
  font-size: 20px;
  display: inline-block;
  background-color: black; /* Blue background color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
margin-left: 10px;
  &:hover {
    background-color: pink; /* Darker blue on hover */
  }
}

.home-full-result {
  display: flex;
  flex-direction: row;
}

@media (max-width: 450px) {
  .home-full-result {
    display: flex;
    flex-direction: column;
  }

  .premiumBadge {
    margin-top: 10px;
    margin-left: 0;
  }
}
