.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 3rem;
  padding: 3rem;
}

.home-heading-description-div {
  text-align: center;
}

.home-heading {
  font-weight: bold;
  font-size: 7rem;
  font-family: "poppins";
}

.home-description {
  font-size: 22px;
  font-family: "San Francisco";
  color: grey;
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 4rem;
  }

  .home-description {
    font-size: 15px;
  }
  .home-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
}
