.result-out{
  display: flex;
flex-direction: row;
align-items:flex-start;
gap:10px
}
.result-div {
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 20px;
  padding: 20px;

  font-size: 20px;
}
.heart{
padding: 10%;

}