.home-input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-heading-description-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-heading {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: "poppins";
  }
  
  .home-description {
    font-size: 22px;
    font-family: "San Francisco";
    color: grey;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    /* For screens up to 768px (e.g., mobile devices) */
    .home-heading {
      font-size: 4rem;
    }
  
    .home-description {
      /* width: 80%; */
      font-size: 15px;
    }
  }
  
  @media (min-width: 700px) and (max-width: 1200px) {
    /* For screens between 769px and 1200px (e.g., tablets) */
    .home-heading {
      font-size: 7rem;
    }
  
    .home-description {
      /* width: 70%; */
      font-size: 20px;
    }
  }
  

  