.footer_main{
  display: flex;
  flex-direction: column;
}
.additionals_main{
  display: flex;
  flex-direction: row;
}
.footer {
  margin-top: 200px;
  margin-left: 15%;
  font-family: "poppins";  
  color: black;
  padding: 20px;
  font-size: 10px;
  display: flex;

  justify-content: center; /* Center content horizontally */
}

.cheatGptAndText {
  display: flex;
  flex-direction: column;
  width: 30%;
  cursor: pointer;
}

.cheatGpt {
  font-weight: bold;
  font-size: 14px;
}

.text {
  width: 70%; 
  font-size: 13px;
  color: gray;
}

.socials ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  color: gray;
  
}

.socials ul li {
  padding-top: 0px;
  margin-right: 10px;
  display: inline;
  font-size: 13px;
}

.additionalInfo {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  font-size: 12px;
  color: gray;
  margin-top: 20px;
  /* padding: 10px 20px; */
  
}
.additionals{
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
margin-left: 0;

    gap: 20px;

  
  }
  .cheatGptAndText {
    width: 100%;
  }
  
 

  
  .text {
    width: 100%; 

  }
.socials{

}
  .socials ul {
    gap: 7px;
 
  }
  

  .additionalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    /* padding: 10px 20px; */
    
  }
  /* .additionals{
    padding: 10px 20px;
  } */
  .additionals_main{
    display: flex;
    flex-direction: row;
  }
}

a {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit the parent's color (black) */
}

a:hover {
  cursor: grabbing; /* Change the cursor to a pointer on hover */
  text-decoration: none; /* Remove the underline on hover */
  color: inherit; /* Inherit the parent's color on hover */
}