.navbar {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  width: 60px;
  height: 60px;
}

.navItems {
  display: flex;
}

.navItem { padding: 10px;
  font-family: "poppins";
  color: #030303;
  cursor: pointer;
}
